# Estructura de dueños de código para UniTask

# Alexia revisa todo lo que entre a la rama de backend
/backend-main/@Lexi714

# Matias revisa todo lo que entre a la rama de frontend
/frontend-main/@MatiasDN19

# Antonio revisa todo lo que entre a develop
/develop/@Gabiota2806